export PYTHONPATH=${PYTHONPATH}:${PWD}
ALL_PARTICIPANTS='["<your_agent_address>"]'
RESET_PAUSE_DURATION=30
RESET_TENDERMINT_AFTER=10
ETHEREUM_LEDGER_RPC=
GNOSIS_LEDGER_RPC=
ON_CHAIN_SERVICE_ID=1
SAFE_CONTRACT_ADDRESS=
TOOL=native_transfer